process.executor = 'slurm'
process.shell = ['/bin/bash', '-euo', 'pipefail']

params {
  outdir = 'nf_out_coloc_comparisons_modular'
  max_gpu_jobs = 4
  p12 = '1e-6'
  H4 = '0.8'
}

executor {
  queueSize = 30
  pollInterval = '30 sec'
  submitRateLimit = '20/1min'
}

process {
  errorStrategy = 'retry'
  maxRetries = 1
}

process {
  withName: CREATE_COMPARISONS_TSV {
    queue = 'main'
    cpus = 1
    memory = '1 GB'
    time = '10m'
  }

  withName: RUN_GPU_COLOC_COMPARISON {
    queue = 'gpu'
    clusterOptions = '--gres=gpu:1'
    cpus = 4
    memory = '40 GB'
    time = '48h'
    maxForks = params.max_gpu_jobs
  }
}

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/timeline.html"
}

report {
  enabled = true
  file = "${params.outdir}/pipeline_info/report.html"
}

trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/trace.tsv"
}

dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/dag.html"
}
