process.executor = 'slurm'
process.shell = ['/bin/bash', '-euo', 'pipefail']

params {
  outdir = 'nf_out_prepare_astle_parquets_modular'
}

executor {
  queueSize = 50
  pollInterval = '30 sec'
  submitRateLimit = '20/1min'
}

process {
  errorStrategy = 'retry'
  maxRetries = 1
}

process {
  withName: DISCOVER_GWAS_GWASCATALOG {
    queue = 'main'
    cpus = 1
    memory = '2 GB'
    time = '30m'
  }

  withName: BUILD_GWAS_SIGNALS {
    queue = 'main'
    cpus = 2
    memory = '24 GB'
    time = '12h'
    maxForks = 20
  }

  withName: BUILD_GWAS_GROUPED_PARQUET_CHR {
    queue = 'main'
    cpus = 2
    memory = '32 GB'
    time = '6h'
    maxForks = 23
  }

  withName: ASSEMBLE_GWAS_GROUPED_ROOT {
    queue = 'main'
    cpus = 1
    memory = '4 GB'
    time = '30m'
  }
}

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/timeline.html"
}

report {
  enabled = true
  file = "${params.outdir}/pipeline_info/report.html"
}

trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/trace.tsv"
}

dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/dag.html"
}
